.git
__pycache__
*.pyc
.pytest_cache
.mypy_cache
.ruff_cache

logs
output
outputs
data
datasets
weights
checkpoints

real_robot/ros2_ws/build
real_robot/ros2_ws/install
real_robot/ros2_ws/log

*.mp4
*.avi
*.mov
*.ply
*.npy
*.npz
*.pt
*.pth
*.engine
*.onnx
